[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/sophgo/edk2-non-osi.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/sophgo/edk2.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/sophgo/edk2-platforms.git
[submodule "external-modules/unicorn"]
	path = external-modules/unicorn
	url = https://github.com/sophgo/unicorn-for-efi.git
[submodule "external-modules/MultiArchUefiPkg"]
	path = external-modules/MultiArchUefiPkg
	url = https://github.com/sophgo/MultiArchUefiPkg.git
